* {
  font-family: "Roboto", sans-serif;
  color: #4b4e6d;
  /* border: solid #4b4e6d 2px; */
}
body {
  background-color: #e7ecef;
  margin: 0em 10em 2em 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculatorBody {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 12px;
  justify-content: space-around;
  align-items: stretch;
  padding: 12px;
  background-color: #272932;
}
.row1 {
  background-color: #e7ecef;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.output {
  font-size: 24px;
}

.input {
  font-size: 36px;
}

h1 {
  font-size: 80px;
}

button {
  font-size: 48px;
  flex: 1;
  margin: 2px;
  border-radius: 8px;
}

.row2 {
  display: flex;
}
.row3 {
  display: flex;
}
.row4 {
  display: flex;
}
.row5 {
  display: flex;
}
.row6 {
  display: flex;
}
.clear {
  flex: 4;
}
.delete {
  flex: 1;
}
.equal {
  background-color: #f4d35e;
}

button:active {
  background-color: #c8d3d5;
}
